

body {
    /* text-align: center; */
    padding: 15px;
    overflow: scroll;
}

#container {
    width: fit-content;
    /* justify-content: center; */
    /* flex: none; */
    /* justify-content: center; */
}

#header_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 1490px;
    height: 185px;
    padding-left: 15px;
    ;
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url("../images/Rectangle 20.png");
}

#title-upper {
    margin-bottom: 45px;
    top: 5%;
    left: 2%;
}

#title-bottom {
    top: 13%;
    left: 2%;
}

#nevigation {
    font-weight: 400;
    color: #7d7c7c;
    font-size: 20px;
}

#nevigation ul {
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 1.5%;
}

#nevigation li {
    list-style: none;
    display: inline;
    float: left;
    padding-right: 22px;
}
#nevigation>div,
#nevigation>ul {
    padding-left: 1%;
    /* padding-bottom: 1%; */
}


#main_section {
    width: 80%;
    clear: both;
    text-align: center;
    display: flex;
    display: inline-block;
    justify-content: center;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    border-left: 1px solid  #7D7C7C;
}

hr {
    background-color: #0F0F0F;
    width: 1490px;
    height: 1px;
}

#title {
    color: #0F0F0F;
    font-size: 20px;
    font-weight: bold;
    clear: both;
    text-align: left;
    padding-top: 0.8%;
}

#form1, #form2 {
    color: #7D7C7C;
    text-align: center;
    padding-top: 1%;
    margin: 0;
}

#form1 table td, #form2 table td {
    padding: 10px;
}

#form1 input {
    border-radius: 12px;
    border: 1px solid;
    border-color: #7d7c7c;
    width: 219px;
    height: 23px;
    padding-left: 8px;
}

/* #form1 td:first-child {
    text-align: right;
} */


#form1 button, #form2 button {
    border-radius: 10px;
    border: none;
    color: #7d7c7c;
    border-color: #7d7c7c;
    margin-inline-end: 7px;
    float: right;
}

#footer {
    display: flex;
    justify-content: right;
    padding-right: 2%;

}

#nextbutton {
    width: 166px;
    border: none;
    height: 45px;
    background-image: url("../images/nextbutton.png");
}

#prevbutton {
    width: 166px;
    border: none;
    height: 45px;
    margin-right: 10px;
    background-image: url("../images/prevbutton.png");
}